* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color:#dbc0a3;
  color: white;
  padding: 20px;
  height: 20vh;
  border-radius: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;   /* flex 세로로 정렬 */
  justify-content: center;  /*중심축(여기선 세로)에서 중앙 */
  align-items: center;     /*교차축(여기선 가로)에서 중앙*/
}

header h1 {
  font-size: 40px;
}
header p {
  font-size: 30px;
}

nav {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center; /*중심축(여기선 가로)에서 중앙 */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav ol {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}


nav a {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: #dbc0a3;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
}

nav a:hover {
  background-color: #917e6b;
}




/* 본문 */


/* 사진 크기 조정 */


.about-photo-1, .about-photo-2, .about-photo-3,.about-photo-4 {
  width: 400px;
  height: auto;
  border-radius: 50px;
  margin-right: 40px;
}



section {
  margin-left: 100px;
  margin-bottom: 100px;
}

/*section별 flex 적용*/
.whyFE-c, .profile-c, .dream-c, .hobby-c {
  display: flex;
  align-items: center;
}

/*script 내부 폰트 사이즈 조정*/
.about-script p {

  font-size: 20px;
}

.about-script h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
 
.about-script ol {
  font-size: 20px;
  margin-left: 40px;
}




ol {
  margin-left: 15px;
}

ol li {
  margin-bottom: 10px;
}




/*footer*/

footer {
  margin-top: 30px;
  border-top: 1px solid #a02f2f;
  background-color: #ffe4e1;
  padding: 10px;
}

footer h4 {
  margin-left: 40px;
}

footer p {
  margin-left: 60px;
}

footer a {
  text-decoration: none;
  color: #a02f2f;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

footer a:hover {
  background-color: #6d5a58;
}